# Node modules
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Docker
Dockerfile
docker-compose.yml

# Terraform files (IMPORTANT)
terraform/
*.tf
*.tfvars
*.tfstate
*.tfstate.*
.terraform/

# GitHub workflows
.github/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

